
.img-lock {
    background-image: url(../images/lock.svg);
    background-repeat: no-repeat;
    width: 42px;
    height: 34px;
}

.img-chest {
    background-image: url(../images/active-chest.svg);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.img-chest.disabled {
    background-image: url(../images/disabled-chest.svg);
    cursor: context-menu;
}

.img-chest.opened {
    background-image: url(../images/open-active-chest.svg);
    cursor: context-menu;
}

.img-trophy {
    background-image: url(../images/trophy.svg);
    width: 105px;
    height: 89px;
}

.img-trophy.disabled {
    background-image: url(../images/disabled-trophy.svg);
    width: 42px;
    height: 34px;
}

.img-current-lesson {
    background-image: url(../images/current-lesson.svg);
    width: 42px;
    height: 34px;
}

.img-done-tick {
    background-image: url(../images/done-tick.svg);
    width: 42px;
    height: 34px;
}

.bronze-rank {
    width: 53px;
    height: 59px;
    background-image: url(../images/bronze-rank.svg);
}

.silver-rank {
    width: 53px;
    height: 59px;
    background-image: url(../images/silver-rank.svg);
}

.lock-rank {
    width: 53px;
    height: 59px;
    background-image: url(../images/lock-rank.svg);
}

.small-gold-chest {
    width: 33px;
    height: 31px;
    background-image: url(../images/small-gold-chest.svg);
}

.small-silver-chest {
    width: 33px;
    height: 31px;
    background-image: url(../images/small-silver-chest.svg);
}

.small-bronze-chest {
    width: 33px;
    height: 31px;
    background-image: url(../images/small-bronze-chest.svg);
}

.img-skip {
    width: 42px;
    height: 34px;
    background-image: url(../images/skip.svg);
}

.img-freeze {
    width: 100px;
    height: 100px;
    background-image: url(../images/streak-freeze.svg);
    background-size: cover;
}

.img-flaming-calendar {
    width: 100px;
    height: 100px;
    background-image: url(../images/flaming-calendar.svg);
    background-size: cover;
}

.gem-img {
    background-image: url(../../assets/images/gem.svg);
    /* background-size: contain; */
    background-repeat: no-repeat;
    margin-right: 5px;
    width: 24px;
    height: 30px;
}

.img-yellow-slash {
    background-image: url(../images/yellow-slash.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 46px;
}

.img-up-arrow {
    background-image: url(../images/up-arrow.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 20px;
}

.streak-img {
    background-image: url(../../assets/images/flame-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 34px;
    height: 34px;
}

.img-skill-strength-sprite_1 {
    background-image: url(../images/skill-strength-sprite2.svg);
    background-repeat: no-repeat;
    background-position: 0 -144px;
    width: 70px;
    height: 18px;
}

.img-skill-strength-sprite_2 {
    background-image: url(../images/skill-strength-sprite2.svg);
    background-repeat: no-repeat;
    background-position: -70px -144px;
    width: 70px;
    height: 18px;
}

.img-skill-strength-sprite_3 {
    background-image: url(../images/skill-strength-sprite2.svg);
    background-repeat: no-repeat;
    background-position: -144px -144px;
    width: 70px;
    height: 18px;
}

.img-skill-strength-sprite_4 {
    background-image: url(../images/skill-strength-sprite2.svg);
    background-repeat: no-repeat;
    background-position: -216px -144px;
    width: 70px;
    height: 18px;
}


